<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>

    <!--レスポンシブ用のメタタグ-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrapとのリンク-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
    </style>
    <style type="text/css">
      body, footer, h1, h2, h3, h4, h5, h6 {
          font-family: 'Noto Sans JP', sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="title container">
      <div class="title-left">
        <h6 class="display-6 fw-bold py-5">
          避難所経路探索<br>
          <small class="text-muted">ユーザ登録</small>
        </h6>
      </div>
    </div>
    <div class="container py-1">
      <p>現在の対応地域は下記のみです。登録する場合は<b class="fw-bold">チェックをして</b>送信してください。<br>
        登録解除を希望の場合は、チェックを付けずに送信してください。データベースからご利用者様の情報をすべて削除いたします。</p>
    </div>
    <div class="container py-1">
      <div class="row">
          <div class="col-1"></div>
          <div class="col-11">
              <ol>
                  <li>函館市</li>
              </ol>
          </div>
      </div>
    </div>
    <div class="container py-1">
      <form action="/control/form" method="post">
          <input type="hidden" name="user_uuid" id="user_uuid" value={{ id }}>
          <div class="mb-3 formcheck">
              <label for="user_resistration_accept_checkbox" class="form-check-label">登録する</label>
              <input type="checkbox" class="form-check-input" name="user_resistration_accept_checkbox" value="1">
          </div>
          <br>
          <div class="row">
            <div class="col-auto">
              <button class="btn btn-outline-secondary fw-bold submit_button btn-light" id="submit_button">送信する</button>
            </div>
          </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
  </body>
  <footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
      <span class="text-muted">Copyright 2021 hakodate-a05</span>
    </div>
  </footer>
</html>