<!DOCTYPE html>
    <html>
        <head>
          <!--
            input URL is
            http://<url>?userID=<userID>&warningCode=<warningCode>

            output (POST) data is
            'userID=' + <userID> + '&warningCode=' + <warningCode> + '&lat=' + <latitude> + '&lng=' + <longitude>
          -->

          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <!-- Bootstrap -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
          <meta name="description" content="hakodate-a05">
          <meta name="format-detection" content="telephone=no,address=no,email=no">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="robots" content="noindex,nofollow">
          <!-- <link rel="stylesheet" href="static/css/bootstrap.css"> -->
          <link rel="stylesheet" href="static/css/my-sheet.css">
          <title>hakodate-a05</title>
          <style>
          @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
          </style>
          <script src="static/js/script.js" defer></script>
        </head>
        <body>
          <div class="title container">
            <div class="title-left">
              <h6 class="display-6 fw-bold py-5">
                避難所経路探索</br>
                <small class="text-muted">現在地取得</small>
              </h6>
            </div>
          </div>
          <div class="container py-1">
            <p>ご登録の地域付近で<b class="fw-bold">{{ warningName }}<b>が発生、または警報が発表されました。</p>
          </div>
          <div class="container py-1">
            <p>最寄りの避難所までご案内するために、あなたの<b class="fw-bold">現在地情報</b>が必要です。<br>同意していただける場合、下記のボタンをクリックしてください。</p>
          </div>
          <div class="container py-1">
            <button type="button" class="btn btn-outline-secondary fw-bold" onclick="getLocation()" id="sendButton">現在地情報を送信</button>
          </div>
          <div class="container" id="afterSend">
            <br>
            <br>
          </div>
          <div class="container py-4">
            出典<br>
            <p>
              国土地理院・指定緊急避難場所データ<br>
              <a href="https://hinan.gsi.go.jp/hinanjocjp/hinanbasho/koukaidate.html">https://hinan.gsi.go.jp/hinanjocjp/hinanbasho/koukaidate.html</a>
            </p>
            <p>
              気象警報等のデータ<br>
              <a href="http://xml.kishou.go.jp/index.html">http://xml.kishou.go.jp/index.html</a>
            </p>
          </div>
        </body>
        <footer class="footer mt-auto py-3 bg-light fixed-bottom">
          <div class="container">
            <span class="text-muted">Copyright 2021 hakodate-a05</span>
          </div>
        </footer>
    </html>